<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DataSetFolder" value="C:\Users\kumar\OneDrive\Documents\Projects\CharMax\CharMax\Datasets" />
    <add key="ResultFolder" value="C:\Users\kumar\OneDrive\Documents\Projects\CharMax\CharMax\Results" />
  </appSettings>
</configuration>